// Duplicate of embla.scss from about/components/styles/embla.scss for ilearn_app carousel styling
.embla {
  margin: auto;
  --slide-height: 30rem;
  --slide-spacing: 1rem;
  --slide-size: 80%;
  position: relative;
  // padding: 1.6rem;
}

.embla__viewport {
  overflow: hidden;
}

.embla__container {
  backface-visibility: hidden;
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}

.embla__slide {
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
  position: relative;
}

.embla__slide__img {
  border-radius: 1.8rem;
  display: block;
  height: var(--slide-height);
  width: 100%;
  object-fit: cover;
}

.embla__controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.8rem;
  position: relative;
}

.embla__buttons {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  position: absolute;
  left: 0;
  right: 0;
  pointer-events: none;
}

.embla__button {
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  box-shadow: inset 0 0 0 0.08rem #000;
  width: 3.6rem;
  height: 3.6rem;
  z-index: 1;
  border-radius: 50%;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: auto;

  &:disabled {
    color: #666;
    box-shadow: inset 0 0 0 0.2rem #666;
  }

  &__svg {
    width: 35%;
    height: 35%;
  }
}

.embla__dots {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 0 4rem;
  gap: 0.8rem;
}

.embla__dot {
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  width: 1.6rem;
  height: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;

  &:after {
    box-shadow: inset 0 0 0 0.08rem #000;
    width: 0.7rem;
    height: 0.7rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    content: '';
    background-color: transparent;
    transition: background-color 0.2s ease;
  }

  &:hover:after {
    background-color: rgba(0, 0, 0, 0.5);
  }

  &--selected:after {
    background-color: #000;
    box-shadow: inset 0 0 0 0.2rem #000;
  }
}

.embla__parallax {
  height: var(--slide-height);
  overflow: hidden;
  border-radius: 1.8rem;
}

.embla__parallax__layer {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  will-change: transform;
}

.embla__parallax__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-width: none;
  transform: translateX(calc(var(--slide-spacing) * -1));
}

@media (max-width: 600px) {
  .embla {
    --slide-height: 16rem;
  }
  .embla__button {
    width: 2.4rem;
    height: 2.4rem;
  }
} 