@keyframes pulse {
  0% {
    transform: scale(0.95);
    opacity: 0.7;
  }
  50% {
    transform: scale(1.05);
    opacity: 1;
  }
  100% {
    transform: scale(0.95);
    opacity: 0.7;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-spinner-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #bec6ff 0%, #ffacac 100%);
  z-index: 9999;
}

.loading-spinner {
  position: relative;
  width: 120px;
  height: 120px;

  &::after {
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    border: 3px solid rgba(255, 255, 255, 0.2);
    border-top-color: #ffffff;
    border-radius: 50%;
    animation: rotate 1s linear infinite;
  }
}

.loading-logo {
  width: 100%;
  height: 100%;
  object-fit: contain;
  // animation: pulse 1.5s ease-in-out infinite;
  filter: brightness(
    1.2
  ); /* Makes the white parts of the logo slightly brighter */
}
