@use "../../config/variables.scss" as vars;
.shipping-box1 {
  padding: 10vh;
  padding-top: 15vh;
  background-image: url("../assets/images/bg-abt.png"),
    linear-gradient(to right, vars.$primary, vars.$primary);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  @media screen and (min-width: 320px) and (max-width: 768px) {
    padding: 10px;
    padding-top: 15vh;
    padding-bottom: 10vh;
  }
}
.color {
  color: vars.$primary;
}
.shipping-text1 {
  color: #fff;
  text-align: center;
  font-size: 50px;
  font-family: vars.$Bold;
}
.shipping-text2 {
  color: #fff;
  text-align: center;
  font-family: vars.$Thin;
  font-size: 14px;
  letter-spacing: 2px;
}
.shipping-txt1 {
  font-size: 32px;
  font-family: vars.$Bold;
  margin-bottom: 20px;
}
.shipping-txt2 {
  font-size: 16px;
  font-family: vars.$Regular;
}
.shipping-txt3 {
  font-size: 22px;
  font-family: vars.$Bold;
  margin-bottom: 10px;
}
// .shipping-txt4 {
//   font-size: 16px;
//   font-family: vars.$SemiBold;
// }
ul {
  list-style-type: disc;
  padding-left: 20px;
}
