@use "../../config/variables.scss" as vars;

.faq-Container {
  min-height: 100vh;
}

.faq-box1 {
  padding: 10vh;
  padding-top: 15vh;
  background-image: url("../assets/images/bg-abt.png"),
    linear-gradient(to right, vars.$primary, vars.$primary);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  @media screen and (min-width: 320px) and (max-width: 768px) {
    padding: 10px;
    padding-top: 15vh;
    padding-bottom: 10vh;
  }
}

.faq-text1 {
  color: #fff;
  text-align: center;
  font-size: 50px;
  font-family: vars.$Bold;
}

.faq-text2 {
  color: #fff;
  text-align: center;
  font-family: vars.$Thin;
  font-size: 14px;
  letter-spacing: 2px;
}

.faq-accordianBox {
  padding: 8px;
}

.faq-accordianItems {
  padding: 15px 22px;
  border-width: 1px;
  border-radius: 8px;
  margin-top: 8px;
  background-color: vars.$primary;
  border-color: vars.$primary;
  overflow: hidden;
  transition: max-height 0.5s ease-out, margin-top 0.5s ease-out;
  max-height: 100%;
  &.open {
    max-height: 100%;
    margin-top: 10px;
  }
}

.faq-accordianHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.faq-accordianIconBox {
  background-color: #262f38;
  padding: 6px;
  border-width: 1px;
  border-color: #373f47;
  border-radius: 8px;
}

.faq-questiontxt {
  color: #fff;
  font-size: 17px;
  font-family: vars.$SemiBold;
}

.faq-answertxt {
  color: #fff;
  font-size: 14px;
  font-family: vars.$Regular;
  width: 90%;
}
