@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: inherit;
}

/* Custom Scroll Bar */
/* ::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #1b2730;
}

::-webkit-scrollbar-thumb {
  background: #f04c24;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #f04c24;
  cursor: pointer;
} */

.perspective-1000 {
  perspective: 1000px;
  transform-style: preserve-3d;
}

.origin-top {
  transform-origin: top;
}