//colors
$primary: #1b2730;
$primary1: #E21A24;
$primary2: #717275;
$grey1: #1b2730;
//font
$Regular: "Lato-Regular";
$Medium: "Lato-Bold";
$SemiBold: "Lato-Bold";
$Bold: "Lato-Bold";
$Thin: "Lato-Thin";
