@use "../../config/variables.scss" as vars;

.privacy-container {
  min-height: 100vh;
}

.privacy-box1 {
  padding: 10vh;
  padding-top: 15vh;
  background-image: url("../assets/images/bg-abt.png"),
    linear-gradient(to right, vars.$primary, vars.$primary);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  @media screen and (min-width: 320px) and (max-width: 768px) {
    padding: 10px;
    padding-top: 15vh;
    padding-bottom: 10vh;
  }
}

.privacy-text1 {
  color: #fff;
  text-align: center;
  font-size: 50px;
  font-family: vars.$Bold;
}

.privacy-text2 {
  color: #fff;
  text-align: center;
  font-family: vars.$Thin;
  font-size: 14px;
}

.privacy-box2 {
  padding: 50px 0px;
}

.privacy-box3 {
  font-family: vars.$SemiBold;
  border-radius: 20px;
  font-size: 18px;
  color: vars.$primary;
}

.privacy-text3 {
  color: #000;
  font-size: 25px;
  font-family: vars.$Bold;
  margin: 20px 0px;
}

.privacy-text4 {
  color: #000;
  font-size: 16px;
  font-family: vars.$SemiBold;
}

.privacy-text5 {
  color: #4d4d4d;
  font-size: 16px;
  font-family: vars.$Regular;
}
