@use "../../config/variables.scss" as vars;

.quote-container {
  min-height: 100vh;
}

.quote-box1 {
  padding: 10vh;
  padding-top: 15vh;
  background-image: url("../assets/images/bg-abt.png"),
    linear-gradient(to right, vars.$primary, vars.$primary);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  @media screen and (min-width: 320px) and (max-width: 768px) {
    padding: 10px;
    padding-top: 15vh;
    padding-bottom: 10vh;
  }
}

.quote-text1 {
  color: #fff;
  text-align: center;
  font-size: 50px;
  font-family: vars.$Bold;
}

.quote-text2 {
  color: #fff;
  text-align: center;
  font-family: vars.$Thin;
  font-size: 14px;
}

.quote-box2 {
  padding: 50px 0px;
}

.quote-text3 {
  color: #000;
  text-align: justify;
  font-family: vars.$Regular;
  font-size: 16px;
}

.quote-text4 {
  color: vars.$primary;
  font-size: 35px;
  font-family: vars.$Bold;
  @media screen and (min-width: 320px) and (max-width: 768px) {
    text-align: center;
    margin-top: 20px;
  }
}

.quote-box3 {
  font-family: vars.$Regular;
  border-radius: 20px;
  font-size: 17px;
  color: vars.$primary;
  flex: 1;
}
