@use "../../config/variables.scss" as vars;

.awards-container {
  min-height: 100vh;
}

.awards-box1 {
  padding: 10vh;
  padding-top: 15vh;
  background-image: url("../assets/images/bg-abt.png"),
    linear-gradient(to right, vars.$primary, vars.$primary);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  @media screen and (min-width: 320px) and (max-width: 768px) {
    padding: 10px;
    padding-top: 15vh;
    padding-bottom: 10vh;
  }
}

.awards-text1 {
  color: #fff;
  text-align: center;
  font-size: 50px;
  font-family: vars.$Bold;
  @media screen and (max-width: 576px) {
    font-size: 35px;
  }
}

.awards-text2 {
  color: #fff;
  text-align: center;
  font-family: vars.$Thin;
  font-size: 14px;
}
.awards-card {
  border: 1px solid rgba(0, 0, 0, 0.213);
  padding: 10px;
  height: 100%;
}
.awards-img{
  width: 200px !important;
  height: 145px !important;
  object-fit: contain;
}
.awards-cardTxt {
  text-align: center;
  font-size: 14px;
  padding: 5px;
  margin-bottom: 10px;
  font-family: vars.$SemiBold;
}
